.buttonBox{
    margin: 0 20px 40px;
    position:relative;
    max-width: 200px;
    min-width: 150px;
    flex: 20%;
    box-sizing: border-box;
    background-color:#ff4545;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding:1vw;
  }