.homepage {
    text-align: center;
    padding: 20px;
  }
  
  .flowerList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .flowerCard {
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    text-align: center;
  }
  
  .flowerCard img {
    width: 100%;
    height: auto;
  }
  
  button {
    padding: 10px;

    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }

  .searchContainer {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .searchInput {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
  }
  
  .searchInput:focus {
    border-color: #333;
  }